@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  src: url('./assets/Oswald-Regular.ttf') format('truetype');
}

@layer components {
  .app-bg {
    @apply bg-[#f3f4f6] dark:bg-[#242424]
  }

  .app-bg-backdrop {
    @apply bg-[#f3f4f6]/80 dark:bg-[#242424]/90 backdrop-blur
  }
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a,
button {
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding-bottom: 75px;
  padding-top: 75px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    background-color: #f3f4f6;
  }
}